<!-- 

Add a form with the following inputs:
1) Mailaddress (should not be empty and should be a valid mailaddress)
2) A dropdown which allows the user to select from three different subscriptions (Basic, Advanced, Pro)
   Advanced is default
3) A password field (should not be empty)
4) A submit button

Display a warning message if the form is invalid AND was touched. Display a warning message below each input if it is invalid.

Upon subitting the form, you should print the value of the form to the console.

 -->

<div class="form">
  <form #inputForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        class="form-control"
        type="email"
        id="email"
        name="email"
        #email="ngModel"
        [(ngModel)]="user.email"
        email
        required
      />
      <div *ngIf="email.touched && !email.valid">
        Please enter a valid e-mail address!
      </div>
    </div>
    <div>
      <label for="subscription">Subscription</label>
      <select
        name="subscription"
        [(ngModel)]="user.subscription"
        #subscription="ngModel"
      >
        <option value="basic">Basic</option>
        <option value="advanced" selected>Advanced</option>
        <option value="pro">Pro</option>
      </select>
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        required
        [(ngModel)]="user.password"
        #password="ngModel"
      />
    </div>
    <div *ngIf="password.touched && !password.valid">
      Please enter a valid password!
    </div>
    <p *ngIf="!inputForm.valid && inputForm.touched">The form is invalid</p>
    <button type="submit">Submit</button>
    <div>
      {{ user | json }}
    </div>
  </form>
</div>